apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: bomjesus
  name: bomjesus
spec:
  replicas: 3
  selector:
    matchLabels:
      io.kompose.service: bomjesus
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  minReadySeconds: 180
  template:
    metadata:
      labels:
        io.kompose.service: bomjesus
    spec:
      initContainers:
        - name: migrate
          image: 961341521437.dkr.ecr.sa-east-1.amazonaws.com/saude-publica-web:latest
          command: ["/bin/bash", "-c"]
          args:
            - |
              mkdir -p app/tmp/pids
              mkdir -p app/tmp/sockets
              # Configurar PATH para rbenv
              export PATH="/usr/local/rbenv/shims:/usr/local/rbenv/bin:$PATH"
              bundle exec rake db:migrate
          envFrom:
            - configMapRef:
                name: env
            - secretRef:
                name: redis-credentials
      containers:
        - name: bomjesus
          image: 961341521437.dkr.ecr.sa-east-1.amazonaws.com/saude-publica-web:latest
          command: ["/bin/bash", "-c"]
          args:
            - |
              mkdir -p app/tmp/pids
              mkdir -p app/tmp/sockets
              # Configurar PATH para rbenv
              export PATH="/usr/local/rbenv/shims:/usr/local/rbenv/bin:$PATH"
              bundle exec puma -C config/puma/production.rb
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: azurefile
              mountPath: /mnt/compartilhado

          envFrom:
            - configMapRef:
                name: env
            - secretRef:
                name: redis-credentials
          resources:
            requests:
              cpu: "1400m"
              memory: "7Gi"
            limits:
              cpu: "1800m"
              memory: "9Gi"
      volumes:
        - name: azurefile
          persistentVolumeClaim:
            claimName: azurefile-pvc
      restartPolicy: Always
