ARGOCD-CONFIG.md
saude-homolog/*.md
.git-old-backup/
*/README.md
*/DNS.txt
*/.claude
*/*.md
*/*.sh

# Secrets não criptografados (usar sealed-secrets.yaml)
**/secrets.yaml
**/secrets.yaml.backup
**/app-secrets.yaml