apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: airflow-scheduler
  name: airflow-scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: airflow-scheduler
  template:
    metadata:
      labels:
        io.kompose.service: airflow-scheduler
    spec:
      containers:
        - name: airflow-scheduler
          image: apache/airflow:3.0.6
          command: ["airflow", "scheduler"]
          volumeMounts:
            - name: airflow-logs
              mountPath: /opt/airflow/logs
            - name: airflow-dags
              mountPath: /opt/airflow/dags
          envFrom:
            - configMapRef:
                name: env
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1000m"
              memory: "2Gi"
          livenessProbe:
            exec:
              command:
                - pgrep
                - -f
                - "airflow scheduler"
            initialDelaySeconds: 120
            periodSeconds: 30
          readinessProbe:
            exec:
              command:
                - pgrep
                - -f
                - "airflow scheduler"
            initialDelaySeconds: 30
            periodSeconds: 10
      volumes:
        - name: airflow-logs
          persistentVolumeClaim:
            claimName: airflow-logs-pvc
        - name: airflow-dags
          persistentVolumeClaim:
            claimName: airflow-dags-pvc
      restartPolicy: Always